{
    "presets": ["env"],
    "plugins": [[
        "transform-runtime", {
            "helpers": true, // defaults to true 
            "polyfill": false, // defaults to true 
            "regenerator": true, // defaults to true 
            "moduleName": "babel-runtime" // defaults to "babel-runtime" 
        }
    ]]
}